---
const pages = [
  { name: 'Home', href: '/' },
  { name: 'About us', href: '/about' },
  { name: 'Products', href: '/products' },
  { name: 'Try SearchAI', href: '/chat'}
]
---

<header class="bg-white shadow sticky top-0 z-50">
    <nav class="container mx-auto flex justify-between items-center py-4">
      <a href="/" class="text-xl font-bold">SearchAI</a>
      <ul class="flex space-x-6">
        {pages.map((page) => (
          <li><a href={page.href} class="hover:text-primary">{page.name}</a></li>
        ))}
      </ul>
    </nav>
</header>

